.editor-styles-wrapper [data-block-name] {
	border: 2px dashed #ccc;
	padding: 15px;
}

.editor-styles-wrapper .container,
.editor-styles-wrapper .narrow-container {
	border: 2px solid #000;
	padding: 15px;
}
