.slickwprev-next:before,
.slickwprev-prev:before {
	@apply text-secondary! text-4xl! opacity-100! duration-300! transition-all! ease-in-out! cursor-pointer!;
}
.wpproslider_t8_DIV_3_logo {
	@apply bottom-[10px]! right-[10px]!;
}
@media (max-width: 1399px) {
	.slickwprev-next::before,
	.slickwprev-prev:before {
		display: none !important;
	}
}
.slickwprev-next:before:hover,
.slickwprev-prev:before:hover {
	@apply text-primary!;
}
.slickwprev-prev {
	left: -30px !important;
}
.divwprsrdmore {
	margin-top: 16px !important;
	font-weight: bold !important;
	font-size: 16px !important;
}
.t8displayname {
	font-weight: bold !important;
}
.wpproslider_t8_SPAN_6 {
	font-weight: normal !important;
	font-size: 12px !important;
	color: rgb(67, 67, 70) !important;
}
