.hero-with-image-only {
	padding-bottom: 56%;
}
@media (min-width: 640px) {
	.hero-with-image-only {
		padding-bottom: 40%;
	}
}
@media (min-width: 768px) {
	.hero-with-image-only {
		padding-bottom: 30%;
	}
}
@media (min-width: 1024px) {
	.hero-with-image-only {
		padding-bottom: 0;
		height: 350px;
	}
}
@media (min-width: 1280px) {
	.hero-with-image-only {
		padding-bottom: 0;
		height: 450px;
	}
}
.extend-container {
	@apply xl:max-w-[98%]!;
}
