.top-footer {
	.menu {
		@apply list-none ml-0;

		a {
			@apply text-white hover:opacity-70 text-base font-bold transition-all duration-300 ease-in-out;
		}
	}
	.footer-column-5 {
		.textwidget {
			@apply text-white text-base;
		}
		a {
			@apply transition-all duration-300 ease-in-out font-bold;

			&:hover {
				@apply opacity-70;
			}
		}
	}
	.social-icons {
		@apply flex gap-x-3 pb-8;

		a {
			@apply hover:opacity-70 duration-300 ease-in-out transition-all text-white;
		}
	}
	li {
		@apply mb-4 lg:mb-2;
	}
}
.bottom-footer {
	@apply text-xs text-[#c7c7c7];

	a {
		@apply text-white font-bold hover:opacity-70 ease-in-out duration-300 transition-all;
	}
	.bottom-footer-column-logo {
		a {
			@apply hover:opacity-70 transition-all duration-300 ease-in-out;
		}
		img {
			@apply mx-auto xl:ml-0 mb-8 w-auto;
		}
	}
}
.legal-footer {
	.menu {
		@apply sm:flex gap-x-2 ml-0 list-none text-white font-semibold mb-0 mt-5 justify-center;

		li {
			@apply flex gap-x-2 mb-2 sm:mb-0;

			a {
				@apply hover:opacity-70 ease-in-out duration-300 transition-all;
			}
			&:after {
				content: "|";
				@apply font-normal hidden sm:block;
			}

			&:last-child {
				&:after {
					content: "";
				}
			}
		}
	}
}
