.progressive-form {
	.gform_fields {
		@apply gap-y-4!;
	}
	.question {
		@apply text-xl mb-6;
	}
	legend,
	.gf_progressbar_wrapper {
		@apply sr-only;
	}
	.gfield_radio {
		@apply block relative;

		.gchoice {
			@apply max-w-full! block!;
		}
		input[type="radio"] {
			@apply hidden;

			&:checked + label {
				@apply block!;

				&:before {
					mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320z"/></svg>')
						no-repeat center / contain;
					-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320z"/></svg>')
						no-repeat center / contain;
				}
			}
		}
		label {
			@apply border border-solid rounded-md ml-0 p-4 border-primary w-full block text-base bg-white relative cursor-pointer transition-all duration-300 ease-in-out hover:bg-gray-100!;

			&:before {
				content: "";
				@apply inline-block mr-2 bg-secondary align-middle;
				width: 1.5rem;
				height: 1.5rem;
				mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320z"/></svg>')
					no-repeat center / contain;
				-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320z"/></svg>')
					no-repeat center / contain;
			}
		}
	}
	.gform-theme-button {
		@apply bg-primary! rounded-md! w-full! block! transition-all duration-300 ease-in-out hover:bg-secondary! font-bold! text-lg! p-2! shadow-none!;
	}
	.gform-theme-button.gform_previous_button {
		@apply bg-transparent! order-2! border-0!;
	}
	.gfield--type-textarea {
		.gfield_label {
			@apply sr-only;
		}
	}
}

h2.gform_submission_error {
	@apply mb-0;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
	@apply border-[1px]! border-solid! border-primary!;
}
